#footer {
	background-color : #000;
}
#footer {
		background: rgba(0, 0, 0, 0.9) url('../references/grid.jpg') repeat-y top left;
		color : #ccc;
		min-width : 1081px;
		width : 100%;
}

#footer {
	background-image : none;
	
}

/*
	SET FLOATS
*/
#footer #leftFooter, #footer #rightFooter {
	float : left;
	margin : 0px 10px;
		
}

	/*
		SET WIDTHS
	*/
	#footer #leftFooter{
		width : 772px;
	}
	
	#footer #rightFooter {
		width : 268px;
	}
		#footer #about, #footer #recentPosts {
			width : 772px;
		}
	
		 #footer #socialHub, #footer #flickr {
			width : 268px;
		}

/*
	STYLING
*/


#footer #about p {
	padding-left : 52px;
}

#footer #leftFooter {
	border-right: 1px solid #999;
}

	#footer #leftFooter p {
		float : left;
		width : 464px;
		padding-right : 20px;
		}
			#footer #leftFooter #about p {
				padding-left : 20px;
				margin-top : 22px;
				}

	#footer #leftFooter h2 {
		float : left;
		width : 268px;
	
		}
			#footer #leftFooter #about h2{
				margin-top : 4px;
				}
		
	#footer #leftFooter ul{
			list-style: none inside;
			padding-left : 20px;
			margin : 14px 0 0;
			float : left;
			width : 484px;

		}
			#footer #leftFooter ul li {
				margin-bottom : 28px;
			}
		#footer #leftFooter #recentPosts h3, #footer #leftFooter #recentPosts p, #footer #leftFooter #recentPosts ul li {
			float : none;
		}
			
	#footer #leftFooter h3 {
		padding-right : 20px;
	}
	
	#footer #rightFooter #flickr img, #footer #rightFooter #flickr img + img + img + img {
		width : 155px;
		margin-bottom : 20px;
		margin-left : 40px;
		
		border : 20px solid rgba(255,255,255,0.2);
		opacity : 0.5;
	}
		#footer #rightFooter #flickr img:hover {
			opacity : 1;
		}


	#footer #rightFooter #contact ul{
		list-style: none inside;
		margin : 0px;
		margin-bottom : 36px;
	}
		#footer #rightFooter #contact ul li:first-child a{
			font-size : 18px;
			color : #DA9D17;
			text-shadow: 0.2em 0.5em 0.1em #DDD;
		}
		#footer #rightFooter #contact ul li {
			margin-left : 40px;
		}
		#footer #rightFooter #contact ul li:first-child {
			margin-bottom : 19px;
			margin-left : 0px;
		}
			#footer #rightFooter #contact ul li a.im {
				text-decoration: underline;
				color : #0da8f0;
			}
				#footer #rightFooter #contact ul li a.im:hover {
					color : #DA9D17
				}
			
		
		#footer #rightFooter #socialHub ul {
			list-style: none inside;
			margin-left : 40px;
		}
			#footer #rightFooter #socialHub ul li{
				float : left;
				width : 32px;
				height : 32px;
			}
				#footer #rightFooter #socialHub ul li + li{
					margin-left : 10px;
				}
			#footer #rightFooter #socialHub ul li span {
				display : none;
			}
			#footer #rightFooter #socialHub ul li a img{
				opacity : 0.5;
			}
			#footer #rightFooter #socialHub ul li a:hover img{
				opacity : 1;
			}
/*
	TYPE
*/
#footer a {
	color : #ccc;
	text-decoration : none;
	cursor : pointer;
}

#footer h2 {
	font-size : 36px;
	line-height : 2em;
	
	text-transform: lowercase;
	font-family : "GraublauWeb", "Graublau Web","Trebuchet MS", sans-serif;
	
}
	#footer #leftFooter h2:after{
		color : #DA9D17;
		content : " {";

	}
			#footer #leftFooter h2 {
				text-align : right;
			}
#footer h3 {
	font-size : 20px;
	line-height :32px;
}
	#footer a:hover {
		text-decoration: underline;
		color : #0da8f0;
	}

#footer p {
		font-family : "Helvetica Neue",Arial,Helvetica,sans-serif;
		letter-spacing : 0.09em;
		
		font-size : 11px;	
}
	#footer #about p:before {
		color : #DA9D17;
		content : "“";	
	}
	#footer #about p:after {
		color : #DA9D17;
		content : "”";
		
	}
	#footer #recentPosts a.meta {
		color : #0da8f0;
		text-transform: uppercase;
		line-height : 30px;
		font-size : 10px;
		letter-spacing : 1.2px;
	}
	#footer #recentPosts p {
		color : #777;
	}
	#footer #rightFooter #contact ul{
		font-size : 14px;
		line-height : 18px;
		margin-top : 32px;
		
	}
		#footer #rightFooter #contact ul li:first-child a{
			font-family : "GraublauWeb", "Graublau Web","Trebuchet MS", sans-serif;
			
			font-size : 30px;
			color : #DA9D17;
			text-shadow : 2px 0px #333;
		}
	