/*
	GRID
*/
body {
	background: #FFF url('../references/grid.jpg') repeat-y top left;
}


/*
	BASIC GRID MARKUP
*/
div,p,img,caption {
/*	outline : black solid thin;*/
}
 #header *{
	margin : 0px 10px;
}

#header {
	position : relative;
	width : 100%;
	height : 54px;
	margin : 0px;
	
	background-color: rgb(0,0,0);
	color : rgb(244,244,244);
	
}
	#header h1 {
		float : left;
		display : inline;
		
		width : 196px;
		height : 100%;

		text-indent : -9999px;
	}
	#header ol {
		display: inline;
		width : 844px;
		height : 53px;
		
		text-transform: uppercase;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "MS Trebuchet", sans-serif;
		letter-spacing: 2px;
		font-size : 14px;
		
		list-style-type: decimal-leading-zero;
		list-style-position: inside;
		counter-reset: navItem;
	    
	}
		#header ol li {
			display: inline;
			float : left;
			width : 196px;
			margin-left: 20px ;
			margin-right: 0px ;
			
			height : 53px;
			
			
			
			
		}
				#header ol li:first-child {
					margin-left: 0px ;
				}
				#header ol li:before {
					      content: counter(navItem, decimal-leading-zero) ". ";
					      counter-increment: navItem;
					  }

#content {
	position : relative;
	width : 1080px;
}

#content p, #content h1, #content h2, #content h3 {
	margin : 20px 154px;
}
	#content div p {
		margin : 0px;
	}


#content .caption, #content .picture p {
	color : #777;
}

code {
	color: #79CBFC;
}

/*
	SIZES AND PUSHES
*/

.one {
	width : 52px;
}
.two {
	width : 124px;
}
.three {
	width : 196px;
}
.four {
	width : 268px;
}
.five {
	width : 340px;
}
.six {
	width : 412px;
}
.seven {
	width : 484px;
}
.eight {
	width : 556px;
}
.nine {
	width : 628px;
}
.ten {
	width : 700px;
}
.eleven {
	width : 772px;
}
.twelve {
	width : 844px;
}
.thirteen {
	width : 916px;
}
.fourteen {
	width : 988px;
}
.fifteen {
	width : 1060px;
}


/*Push lefts*/
.pushLeftOne {
	margin-left : 82px;
}
.pushLeftTwo {
	margin-left : 154px;
}
.pushLeftThree {
	margin-left : 226px;
}
.pushLeftFour {
	margin-left : 298px;
}
.pushLeftFive {
	margin-left : 370px;
}
.pushLeftSix {
	margin-left : 442px;
}
.pushLeftSeven {
	margin-left : 514px;
}
.pushLeftEight {
	margin-left : 586px;
}
.pushLeftNine {
	margin-left : 658px;
}
.pushLeftTen {
	margin-left : 730px;
}
.pushLeftEleven {
	margin-left : 802px;
}
.pushLeftTwelve {
	margin-left : 874px;
}
.pushLeftThirteen {
	margin-left : 946px;
}
.pushLeftFourteen {
	margin-left : 1018px;
}

/*Push Rights*/
.pushRightOne {
	margin-right : 82px;
}
.pushRightTwo {
	margin-right : 154px;
}
.pushRightThree {
	margin-right : 226px;
}
.pushRightFour {
	margin-right : 298px;
}
.pushRightFive {
	margin-right : 370px;
}
.pushRightSix {
	margin-right : 442px;
}
.pushRightSeven {
	margin-right : 514px;
}
.pushRightEight {
	margin-right : 586px;
}
.pushRightNine {
	margin-right : 658px;
}
.pushRightTen {
	margin-right : 730px;
}
.pushRightEleven {
	margin-right : 802px;
}
.pushRightTwelve {
	margin-right : 874px;
}
.pushRightThirteen {
	margin-right : 946px;
}
.pushRightFourteen {
	margin-right : 1018px;
}

/*Floats*/
.left {
	float : left;
	margin-left : 10px;
}
.right {
	float : right;
	margin-right : 10px;
	
}

/*
	BAG OF TRICKS
*/

.clear {
	clear : both;
	width : 0px;
	height : 0px;
	outline : none;
	margin : 0px;
	padding : 0px;
}